body {
    padding: 0;
    background: url(../images/bodyBackground.jpg) fixed;
    background-size: 100% 100%;
    color: aliceblue;
    margin: 0 auto;
}

#wrapperIntro > header {
    float: left;
    margin-top: 0;
    background: black;
    margin-bottom: 10px;
}

header > h1, header > nav {
    display: inline;
    float: left;
    color: aliceblue;
    margin: 20px;
}

header > nav {
    float: right;
}

header > nav > ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

#search {
    text-align: center;
}

.infoInput {
    padding: 10px;
    float: left;
    width: 80%;
    height: 35px;
    color: #000;
    margin-left: 60px;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
}

.lyricsInput {
    padding: 10px;
    width: 80%;
    height: 250px;
    min-height: 250px;
    color: #000;
    margin-left: 60px;
    border-radius: 10px;
    border: 1px solid cornflowerblue;
    resize: vertical;
}

#uploadBtn {
    margin-top: 20px;
    width: 50%
}

label {
    margin-bottom: 20px;
}

#downloadify {
    margin-top: -30px;
    margin-left: 260px;
}

.searchInput {
    padding: 20px;
    width: 50%;
    height: 35px;
    color: #000;
    border-radius: 10px;
    border: 2px solid black;
    display: block;
    margin: 0 auto !important;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.25s ease-in;
    font-size: 20px;
}

#lastNavChild {
    font-size: 15px;
}

nav ul li a:hover, a:focus, a:active {
    text-decoration: none;
    color: cornflowerblue;
    cursor: pointer;
}

.files_container {
    width: 90%;
    margin: 0 auto;
}

#sortingBox ul {
    list-style: none;
}

#sortingBox ul li {
    float: left;
}

#sortingBox ul li button {
    color: white;
}

#sortingBox h4 {
    font-size: 25px;
}

#sortingBox > button:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.files_container > nav > .btn-group-vertical {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
}

.files_container > .list-group {
    /*float: left;*/
    /*margin-left: 5%;*/
}

.files_container > .list-group > a {
    /*width: 250%;*/
    /*height: 120px;*/
}

.navbar-inverse {
    color: white;
}

a > img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 10px;
    top: 8px;

}

header {
    display: block;
    width: 100%;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    height: 1000px;
}

.titlePage {
    text-align: center;
}

label {
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    color: aliceblue;
}

.reservedTitle {
    margin-top: 60px;
    text-align: center;
    color: aliceblue;
}

input[type=text] {
    border-radius: 8px;
    margin-right: 10px;
    color: black;
}

input[type=submit] {
    border-radius: 8px;
}

td {
    border: 2px solid red;
}

table {
    border-collapse: collapse;
}

#addNewForm {
    border-radius: 10px;
    background: rgba(219, 240, 255, 0.2);
    padding: 10px;
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
}

#addNewForm h2 {
    text-align: center;
}

#uploadNewFile {
    border-radius: 10px;
    background: rgba(219, 240, 255, 0.2);
    padding: 10px;
    width: 65%;
    margin: 0 auto;
}

#uploadNewFile {
    text-align: center;
}

.deleteBtn {
    /*cursor: pointer;*/
    /*position: relative;*/
    /*z-index: 999;*/
    /*right: -82px;*/
    /*top: -84px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    background-color: transparent;
    border: none;
    display: none;
    float: right;
}

iframe {
    /*float: left;*/
    overflow: hidden;
}

#iframeSearch {
    width: 990px;
    /*height: 1000px;*/
    height: 450px;
    margin-top: 30px;
}
#searchBox{
    text-align: center;
}

#iframeTables {
    width: 100%;
    /*height: 1000px;*/
    height: 450px;
    background-color: transparent;
    border-radius: 10px;
    margin: 0px auto;
}

#iframeReserved {
    width: 990px;
    /*height: 1000px;*/
    height: 380px;
    margin: 0px auto;
}
.iframeReserved{
    text-align: center;
}

#id_container {
    margin: 0 auto;
}

#id_container > h2 {
    position: absolute;
    left: 40%;
    top: 15%;
}

#teamPlayer {
    margin: 10%;
    float: left;
    top: 40%;
    width: 30%;
    color: aliceblue;
}

#teamPlayer1 {
    float: left;
    margin: 3% 3% 0 3%;
    text-align: center;
    background: black;
    padding: 10px;
    border-radius: 10px;
}
#teamPlayer1 h1,
#teamPlayer2 h1{
    font-size: 20px;
}
#teamPlayer1 h2,
#teamPlayer2 h2{
    font-size: 16px;
}

#teamPlayer2 {
    float: right;
    margin: 3% 3% 0 3%;
    text-align: center;
    background: black;
    padding: 10px;
    border-radius: 10px;
}

.story {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bolder;
}
.story p{
    background: black;
    padding: 10px;
    border-radius: 10px;
}

.clear {
    clear: both;
}

.btn-group-vertical > .btn {
    font-size: 20px;
}

.btn-group-vertical hr {
    margin: 10px;
}